@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');;

/* universal selector */
* {
  background-color: var(--periwinkle-crayola);
  font-family: roboto flex;
}

:root {
  --lavendar-web: #E0E4F5;
  --periwinkle-crayola: #C1C6EB;
  --gunmetal: #183642;
  --atomic-tangerine: #FF9666;
  --white: white;
}

h2, h3, h4, a {
  font-family: koulen;
}
/* universal selector */


/* utility classes */
.dark-font {
  color: var(--gunmetal);
}

.white-font {
  color: var(--white);
}

.orange-font {
  color: var(--atomic-tangerine);
}

.lavendar-background {
  background-color: var(--lavendar-web);
}

.periwinkle-background {
  background-color: var(--periwinkle-crayola);
}

.dark-background {
  background-color: var(--gunmetal);
}

.koulen {
  font-family: koulen;
}

.link:hover {
  color: var(--white);
}
/* utility classes */


/* header stuff */
#logo {
  background-color: var(--periwinkle-crayola);
  height: 80px;
}

.nav-items {
  background-color: var(--periwinkle-crayola) !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-item {
  background-color: var(--periwinkle-crayola);
  color: var(--gunmetal);
  padding: 15px;
  border-radius: 35px;
}

.navbar-item:hover {
  background-color: var(--periwinkle-crayola) !important;
  color: var(--white) !important;
}

.hover-ignore:hover {
  background-color: var(--periwinkle-crayola) !important;
}
/* header stuff */

/* banner stuff */
#banner {
  width: 100%;
}
/* banner stuff */

/* about stuff */
#lilly-img {
  margin: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* about stuff */

/* listen section stuff */
.episodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.episode {
  height:fit-content;
}
/* listen section stuff */